/* ||||| RESET E NORMALIZZAZIONE ||||| */
/* <editor-fold */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* </editor-fold> */
/* \\\\\ RESET E NORMALIZZAZIONE ///// */

/* ---------------- */
/* ---------------- */
/* ----- HTML ----- */
/* ---------------- */
/* ---------------- */
#wrapper {
    height: 100vh;
    color: black;
    background-color: #77dd77;
    padding: 10px;
}
